################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.dll
*.v2 
/ABP.VnextConsole/bin/Debug/net5.0
/ABP.VnextConsole.Common/bin/Debug/net5.0
