################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.dll
*.v2 
/ABP.VnextConsole/bin/Debug/net5.0
/ABP.VnextConsole.Common/bin/Debug/net5.0
/ABP.VnextConsole.Plugin/obj/Debug/net5.0
/ABP.VnextConsole.Common/obj/Debug/net5.0
/ABP.VnextConsole/obj/Debug/net5.0
/ABP.VnextConsole.Plugin/bin/Debug/net5.0
/.vs/ABP.VnextConsole/v16
/ABP.VnextConsole/obj
