################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.dll
*.v2 
/ABP.VnextConsole/bin/Debug/net5.0
/ABP.VnextConsole.Common/bin/Debug/net5.0
/ABP.VnextConsole.Plugin/obj/Debug/net5.0
/ABP.VnextConsole.Common/obj/Debug/net5.0
/ABP.VnextConsole/obj/Debug/net5.0
/ABP.VnextConsole.Plugin/bin/Debug/net5.0
/.vs/ABP.VnextConsole/v16
/ABP.VnextConsole/obj
/ABP.VnextWebConsole/bin/Debug/net5.0
/ABP.VnextWebConsole/obj
/ABP.VnextWebCommon/obj
/ABP.VnextWebCommon/bin/Debug/net5.0
/.vs/ABP.VnextConsole/v17
/ABP.VnextConsole.Common/obj
/ABP.VnextConsole.Plugin/obj
/ABP.VnextConsole.v12.suo
/.vs/ABP.VnextConsole/v17/.suo
